@import './theme.css';

body {
  background: var(--background-color) no-repeat fixed top left;
  color: var(--text-color);
  font-family: Verdana, Tahoma, Helvetica, sans-serif;
  margin: 100px 0 25px 0;
}

a:link, a:active {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}

a:hover {
  color: var(--hovered-link-color);
}

header, main, footer {
  margin: auto;
  width: 700px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: var(--main-background-color);
  border: 1px solid var(--main-border-color);
  padding: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}

footer {
  font-size: smaller;
  font-weight: 400;
}

#anim {
  image-rendering: pixelated;
  margin-bottom: 2em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav > p, main > h1 {
  margin-block-start: 0;
}

header nav > p:last-child {
  margin-block-end: 0;
}

nav > p > a {
  text-decoration: none;
}

nav > p > a:not(:last-child)::after {
  content: ' |';
  color: var(--main-border-color);
}

main > nav:not(:last-child) {
  border-bottom: 1px solid var(--main-border-color);
}

main > p.screenshot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.scalable {
  position: relative;
  max-width: 680px;
}

img.full {
  max-width: initial;
}
