:root {
  --logo-color: #4b0082;
  --logo-text-color: #fff;
  --background-color: #161616;
  --main-background-color: #131313;
  --main-border-color: #444;
  --text-color: #999;
  --link-color: var(--logo-color);
  --visited-link-color: #4d469c;
  --hovered-link-color: #4495ff;
}
